.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 160px;
    height: 100vh;
    background-color: #0d0d2d;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    z-index: 1000;
    
    filter: drop-shadow(0 0 10px #00ffcc);
    animation: glow 2s infinite;
    }

.sidebar-title {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color: #2ed4b3;

}

.sidebar-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 0;
    transition: 0.3s;
}

.sidebar-nav a:hover {
    color: #13ae8f;
    transform: scale(1.1);
}

.sidebar-link {
  display: inline-block;
  color: #00ffcc;
  text-shadow: 1px 1px #0099ff, -1px -1px #6600ff;
  transition: all 0.2s ease; /* para suavizar el hover */
}

.sidebar-link:hover {
  animation: glitch 0.6s 1; /* 1 vez al pasar el mouse */
}
.sidebar-link:active {
  animation: glitch 0.6s 1;
}

@keyframes glitch {
    0% {
    transform: translate(0px, 0px) skew(0deg);
  }
  20% {
    transform: translate(-2px, 2px) skew(-5deg);
  }
  40% {
    transform: translate(2px, -2px) skew(5deg);
  }
  60% {
    transform: translate(-2px, 2px) skew(-5deg);
  }
  80% {
    transform: translate(2px, -2px) skew(5deg);
  }
  100% {
    transform: translate(0px, 0px) skew(0deg);
  }
}

/* Media Queries solo para sidebar */
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }
  
  .sidebar-title {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 50px;
  }
  
  .sidebar-nav a {
    font-size: 0.8rem;
    margin: 8px 0;
  }
}

@keyframes glow {
  0%, 100% { box-shadow: 0 0 10px #00ffcc; }
  50% { box-shadow: 0 0 20px #00ffcc; }
}