.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 160px;
    height: 100vh;
    background-color: #5d5ddf;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    z-index: 1000;
    
}

.sidebar-title {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color: #00ffcc;

}

.sidebar-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 0;
    transition: 0.3s;
}

.sidebar-nav a:hover {
    color: #00ffcc;
    transform: scale(1.1);
}